h1 {
	
	background-color: #000000;
}
nav {
	background-color: #000000;
}
body{
	background-image:url("../Assets/space1.jpeg");
	background-size:cover;
}
a:link{
	color:#ffffa6;
}
a:visited{
	color:#ffffa6;
}